@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700;900&display=swap');
.cont_title_port h2 {
    font-size: 6rem;
    font-size: clamp(4rem, 7vw, 6rem);
    font-family: 'Azeret Mono', monospace;
    color: black;
}

.cont_desc_ {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cont_projects {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cont_projects:hover {
    transform: translate(4px, 4px);
    border-radius: 4px;
    box-shadow: 23px 23px 27px #acacac;
}

.cont_desc_ p {
    color: #FF6F61;
}

.cont_desc_ a {
    margin: 10px;
    color: black;
    transition: all 0.2s ease-in-out;
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cont_desc_ a:hover {
    background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 0 #000, inset -0.5px -0.5px 0 2px #CCC;
    color: black;
    font-size:110%;
}

.overflow {
    height: 50%;
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
    transform: scale(1.8);
}