.title_contact {}

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');
.contact_title h2 {
    position: relative;
    font-family: 'Andika New Basic', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    z-index: 3;
    margin-bottom: -22px;
    color: #121629;
}

.contact_cont h4 {
    font-family: 'Andika New Basic', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #fffffe !important;
}

.contact_cont {
    background-color: #2d3457;
    color: #d4d8f0;
}

.gray {
    color: #eebbc3;
}

.cont_img img {
    background-size: cover;
}